# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Editor settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build
dist/
build/
*.spec

# Sensitive config
config.py
tenants.json
client_export_data/
run_script_result/
